<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strut | Administradores</title>
    <link rel="shortcut icon" href="../../assets/favicon.png" type="image/x-icon">

    <!-- FONTAWESOME -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow&display=swap" rel="stylesheet">

    <!-- STYLESSHETS -->
    <link rel="stylesheet" href="../../styles/admin/style.css">
    <link rel="stylesheet" href="../../styles/components_styles/style.css">




</head>
<body>

    <aside class="menu">

        <img src="../../assets/strut_logo_blanco.png" alt="">
        <h1 class="usuario"><i class="fas fa-envelope-open"></i><span class="negocio"></span></h1>
         
        <button class="products aside_btn"><i class="fas fa-shopping-cart"></i>Productos y servicios</button>
        <button class="orders aside_btn"><i class="fas fa-clipboard-list"></i>Ordenes</button>
        <button class="clients aside_btn"><i class="fas fa-hands-helping"></i>Clientes</button>
        <button class="suppliers aside_btn"><i class="fas fa-truck"></i>Proveedores</button>
        <button class="close_sesion aside_btn"><i class="fas fa-sign-out-alt"></i>Cerrar Sesion</button>

    </aside>

    <main class="module productos_module">
        
    </main>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script src="../../js/admin_home.js"></script>
    <script src="../../js/products.js"></script>
    <script src="../../js/suppliers.js"></script>
    <script src="../../js/clients.js"></script>
    <script src="../../js/orders.js"></script>
</body>
</html>